/* ==|== reset ========= */

* {
	-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; overflow-x: hidden; }
body { margin: 0; font-size:62.5%; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
p { margin: 0; padding: 0; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 0px; padding: 0px; }
dd { margin: 0px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
svg { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

h1,h2,h3,h4,h5 {margin: 0px; padding:0px;}

/* ==|== fonts ========= */



/* ==|== grid ========= */

/* Reusable column setup */
.col {
    border:0px solid rgba(0,0,0,0);
    float:left;
}
   
.row {
	margin-left:-8px;
}
.col {
	border-left-width:8px;
	padding:0 8px;
}

.wrapper {
	position: relative;
	margin: 0 auto;
}

.small-1 {
	width:16.6666666667%;
}
.small-2 {
	width:33.3333333333%;
}
.small-3 {
	width:50.0%;
}
.small-4 {
	width:66.6666666667%;
}
.small-5 {
	width:83.3333333333%;
}
.small-6 {
	margin-left:0;
	width:100%;
}

@media screen and (min-width: 481px) {
	
	.row {
		margin-left:-16px;
	}
	.col {
		border-left-width:16px;
		padding:0 16px;
	}

	.mid-1 {
		width:8.33333333333%;
	}
	.mid-2 {
		width:16.6666666667%;
	}
	.mid-3 {
		width:25.0%;
	}
	.mid-4 {
		width:33.3333333333%;
	}
	.mid-5 {
		width:41.6666666667%;
	}
	.mid-6 {
		width:50.0%;
	}
	.mid-7 {
		width:58.3333333333%;
	}
	.mid-8 {
		width:66.6666666667%;
	}
	.mid-9 {
		width:75.0%;
	}
	.mid-10 {
		width:83.3333333333%;
	}
	.mid-11 {
		width:91.6666666667%;
	}
	.mid-12 {
		margin-left:0;
		width:100%;
	}
}

@media screen and (min-width: 790px) {
	
	.large-1 {
		width:8.33333333333%;
	}
	.large-2 {
		width:16.6666666667%;
	}
	.large-3 {
		width:25.0%;
	}
	.large-4 {
		width:33.3333333333%;
	}
	.large-5 {
		width:41.6666666667%;
	}
	.large-6 {
		width:50.0%;
	}
	.large-7 {
		width:58.3333333333%;
	}
	.large-8 {
		width:66.6666666667%;
	}
	.large-9 {
		width:75.0%;
	}
	.large-10 {
		width:83.3333333333%;
	}
	.large-11 {
		width:91.6666666667%;
	}
	.large-12 {
		margin-left:0;
		width:100%;
	}
}

@media screen and (min-width: 990px) {
	.wrapper {
		width: 980px;
	}
}

/* ==|== primary styles ========= */

html {
	height: 100%;
}

body {
	background-color: #3d474e;
	height: 100%;
	font-family: Arial;
}

	.portfolio {
		margin-top: 50px;
		width: 100%;
		position: relative;
	}

		.work {
			margin-bottom: 24px;
			-webkit-perspective: 1000;
			-moz-perspective: 1000;
			-ms-perspective: 1000;
			-o-perspective: 1000;
			perspective: 1000;

			-ms-transform: perspective(1000px);
			-moz-transform: perspective(1000px);
			
			-moz-transform-style: preserve-3d; 
			-ms-transform-style: preserve-3d; 
		}
		
		@media screen and (min-width: 481px) {
			.work {
				margin-bottom: 40px;
			}
		}
			
			.work:hover .panel {
				-webkit-transform: rotateY(180deg);
				-moz-transform: rotateY(180deg);
				-ms-transform: rotateY(180deg);
				-o-transform: rotateY(180deg);
				transform: rotateY(180deg);
			}
			
			.panel {
				position: relative;
				
				-webkit-transition: 0.3s;
				-webkit-transform-style: preserve-3d;
				
				-moz-transition: 0.3s
				-moz-transform: perspective(1000px);
				-moz-transform-style: preserve-3d;
				
				-ms-transform-style: preserve-3d;
				-ms-transition: 0.3s;
				
				-o-transform-style: preserve-3d;
				-o-transition: 0.3s;

				transition: 0.3s;
				transform-style: preserve-3d;
			}
			
			.work, .front, .back {
				width: 100%;
				height: 500px;
			}
			
			@media screen and (min-width: 481px) {
				.work, .front, .back {
					height: 450px;
				}
			}
			
			@media screen and (min-width: 799px) {
				.work, .front, .back {
					height: 420px;
				}
			}
			
				.front, .back {
					position: absolute;
					top: 0;
					left: 0;
					
					-webkit-backface-visibility: hidden;
					-moz-backface-visibility: hidden;
					-ms-backface-visibility: hidden;
					-o-backface-visibility: hidden;
					backface-visibility: hidden;

					-webkit-transition: 0.3s;
					-webkit-transform-style: preserve-3d;

					-moz-transition: 0.3s;
					-moz-transform-style: preserve-3d;

					-o-transition: 0.3s
					-o-transform-style: preserve-3d;

					-ms-transition: 0.3s;
					-ms-transform-style: preserve-3d;

					transition: 0.3s;
					transform-style: preserve-3d;
				}
			
				.front {
					padding: 10px;
					background-color: #fff;
					z-index: 2;
					-webkit-transform: rotateY(0deg);
					-ms-transform: rotateY(0deg);
					-moz-transform: rotateY(0deg);
					-o-transform: rotateY(0deg);
					transform: rotateY(0deg);
				}
				
				.back {
					padding: 10px;
					background-color: #e8ebea;
					-webkit-transform: rotateY(-180deg);
					-moz-transform: rotateY(-180deg);
					-o-transform: rotateY(-180deg);
					-ms-transform: rotateY(-180deg);
					transform: rotateY(-180deg);
				}
		
			
			.work .title {
				display: block;
				background-color: #cf256a;
				padding: 2px;
				font-size: 1.2em;
				text-transform: uppercase;
				text-align: center;
				color: #fff;
				margin-bottom: 10px;
				font-weight: bold;
			}
			
			.work img {
				display: block;
				width: 100%;
				margin-bottom: 10px;
			}
			
			.work .heading {
				font-weight: bold;
				font-size: 1.1em;
				margin-bottom: 10px;
			}
			
			.work li {
				display: block;
				padding: 2px 5px;
				font-size: 1em;
				color: #fff;
				margin-bottom: 4px;
				font-weight: bold;
			}
			
				.html {
					background-color: #fc8b35;
				}
				
				.php {
					background-color: #d435fc;
				}
				
				.jquery {
					background-color: #b4b844;
				}
				
				.fb {
					background-color: #3b5998;
				}
				
				.yt {
					background-color: #bb0000;
				}
				
				.twt {
					background-color: #00aced;
				}
				
				.node {
					background-color: #0509FC;
				}
				
				.gmap {
					background-color: #dd4b39;
				}
				
				.support {
					background-color: #333;
				}
				
				.canvasanim {
					background-color: #089c83;
				}
				
				.media {
					background-color: #fc3549;
				}
				
				.legacy {
					background-color: #35a6fc;
				}
				
				.lingual {
					background-color: #9c5c08;
				}
				
			.buildinfo {
				font-size: 1.2em;
				width: 94%;
				margin: 0 auto 10px auto;
				text-align: center;
				line-height: 1.4em;
			}
			
			.buildlink {
				display: block;
				width: 60%;
				padding: 10px 0;
				font-size: 1.2em;
				margin: 0 auto 10px auto;
				text-align: center;
				line-height: 1.4em;
				text-decoration: none;
				text-transform: uppercase;
				background-color: #fff;
				color: #333;
				font-weight: bold;
			}
			
			.buildlink:hover {
				background-color: #ddd;
				
			}
				
		
			

